.shopMen {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 70px;
  padding-left: 30px;
}

.shopMen .shopMen-image {
  width: 350px;
  height: 450px;
  margin-left: 10px;
}
.shopMen-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.shopMen-info {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.shopMen-info h3 {
  color: #000033;
  font-size: 2rem;
  margin-bottom: 10px;
}

.shopMen-info p {
  color: #000033;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.shopMen-info h5 {
  font-size: 0.9rem;
  color: #000033;
  font-weight: 500;
  margin-bottom: 10px;
}

.shopMen-info h5 span {
  font-size: 0.7rem;
}

.shopMen-colors {
  width: 150px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.shopMen-colors .ball {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.ball1 {
  background-color: grey;
}

.ball2 {
  background-color: #111;
}

.ball3 {
  background-color: #74cff3;
}

.shopMen-size {
  width: 250px;
  display: flex;
  justify-content: space-between;
}

.shopMen-size .size {
  width: 30px;
  height: 30px;
  border: 1px solid #111;
  cursor: pointer;
}

.size-btn {
  width: 270px;
  margin-top: 10px;
  padding: 10px;
  font-weight: 600;
  font-size: 1rem;
  color: #2bc5c5;
  background-color: #9fbebe;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 200ms;
}

.size-btn.active {
  background-color: #111;
  color: #fff;
}

@media only screen and (max-width: 950px) {
  .shopMen {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding-top: 60px;
    padding-left: 10px;
  }

  .shopMen .shopMen-image {
    width: 250px;
    height: 200px;
    margin-top: 10px;
    margin-left: 20px;
  }
  .shopMen-info {
    margin-top: 20px;
    margin-left: 40px;
  }

  .shopMen-info h3 {
    font-size: 1rem;
    margin-bottom: 10px;
  }

  .shopMen-info p {
    font-size: 0.8rem;
    margin-bottom: 5px;
  }

  .shopMen-info h5 {
    font-size: 0.7rem;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .shopMen-colors {
    width: 100px;
    margin-bottom: 10px;
  }

  .shopMen-colors .ball {
    width: 30px;
    height: 30px;
  }

  .shopMen-size {
    width: 200px;
  }

  .size-btn {
    width: 250px;
  }
}
