.navlinks {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  padding-top: 60px;
  transform: translateX(-150%);
  transition: all 0.3s ease-in-out;
  z-index: 5;
}

.navlinks.show {
  transform: translateX(0%);
}
.navlinks ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.navlinks ul li {
  width: 100%;
  padding: 15px;
  border-bottom: 2px solid #ddd;
  cursor: pointer;
}

.navlinks ul li button {
  background-color: transparent;
  color: #fff;
  font-weight: 600;
  border: none;
  outline: none;
  padding-left: 10px;
  font-size: 0.8rem;
}

.navlinks ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  padding-left: 10px;
  font-size: 0.8rem;
}
